/* Styling body */

body{
    margin:0px;
    padding: 0px;  
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling Header section */

.header{
    padding: 0%;
    margin: 0%;
    background-color: rgb(218, 87, 11);
    height:100px;
    width: 100%;
    position:absolute;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* Styling Home section in header */

#home{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:50px;
    column-gap: 15px;
}
.home{
    height:30px;
    width:30px;
    border-radius: 7%;
}
#home h1{
    color:white;
    font-weight: 500;
    font-size: 2.1rem;
}

/* Styling MenuBar section in header */

.fa-bars{
    color:white;
    font-size: 30px;
    padding-right: 50px;
}
#mealName{
    width:250px;
    display: none;
    background-color: white;
    margin-top: 625px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 150px;
}
#menu-name{
    list-style-type: none;
}
#menu-name:hover{
    color: rgb(250, 98, 42);
    text-decoration-line: underline;
}
#mealName hr{
    background-color:whitesmoke;
    height:1px;
    border:none;
}
.fa-circle-xmark{
    color:rgb(250, 98, 42);
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding-left: 200px;
}

/* Styling Search Section */ 

#bg{
    height:700px;
    width:100%;
    background-image: url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    filter:brightness(40%);
    position:relative;
}
#search{
    position: absolute;
    top:230px;
    left:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.search{
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: -25px;
}
#searchInput{
    height:47px;
    width:250px;
    border-radius: 30px;
    border:1px solid rgb(95, 95, 95);
    color:gray;
    font-size: 0.8rem;
    background-color: white;
    font-size: 1rem;
    margin-left:40px;
    padding-left: 30px;
}
#searchInput:focus{
    outline: none;
    border:none;
}
#searchIcon{
    background-color: rgb(250, 98, 42);
    height:45px;
    width:45px;
    border-radius: 50%;
    border:1px solid White;
}
#searchIcon:hover{
    background-color: white;
    border:1px solid rgb(250, 98, 42);
}
.fa-magnifying-glass{
    color:white;
    font-size: 1.4rem;
    padding: 12px;
    font-weight: 300px;
}
.fa-magnifying-glass:hover{
    color:rgb(250, 98, 42);
}
.text{
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
#search pre{
    color: rgb(167, 165, 165);
    font-size: 1rem;
    margin-top: -10px;
}

/* Styling All Meal Category Section */

#allCategories{
    background-color: whitesmoke;
    margin-top: -175px;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.type{
    display:block;
}
.type p{
    margin-top:100px;
    margin-left: -50px;
    color:black;
    font-size: 2.3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-left: 2%;
}
.type hr{
    margin-left: -1.7%;
    margin-top: -25px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    height:5px;
    border:none;
    position: relative;
}
.type hr:before{
    content:" ";
    background: rgb(250, 98, 42);
    height:5px;
    width:10%;
    position: absolute;
}
.meals{
    position:relative;
    display:inline-block;
    height:140px;
    width:220px;
    background-color: white;
    margin:15px;
}
#category-thumb{
    height:120px;
    width:200px;
    background-color: white;
    margin:10px;
}
#category-thumb:hover{
    transform: scale(0.8);
}
#category-name{
    position: absolute;
    top:10px;
    right:3%;
    background-color:rgb(250, 98, 42);
    border:none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: monospace;
    margin-right: 5px;
}