/* Styling body */

body{
    margin:0px;
    padding: 0px;  
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling Header section */

#header{
    padding:0%;
    margin: 0%;
    background-color: rgb(218, 87, 11);
    height:100px;
    width: 100%;
    position:absolute;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* Styling Home section in header */

#home{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left:50px;
    column-gap: 15px;
}
.home{
    height:30px;
    width:30px;
    border-radius: 7%;
}
#home h1{
    color:white;
    font-weight: 500;
    font-size: 2.1rem;
}

/* Styling MenuBar section in header */

.fa-bars{
    color:white;
    font-size: 30px;
    padding-right: 50px;
}
#mealName{
    width:250px;
    display: none;
    background-color: white;
    margin-top: 625px;
    margin-right: 0px;
    padding-top: 40px;
    padding-bottom: 150px;
}
#menu-name{
    list-style-type: none;
}
#menu-name:hover{
    color: rgb(250, 98, 42);
    text-decoration-line: underline;
}
#mealName hr{
    background-color:whitesmoke;
    height:1px;
    border:none;
}
.fa-circle-xmark{
    color:rgb(250, 98, 42);
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding-left: 200px;
}

/* Styling Search Section */ 

#bg{
    height:700px;
    width:100%;
    background-image: url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    filter:brightness(40%);
    position:relative;
}
#search{
    position: absolute;
    top:230px;
    left:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.search{
    display:flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-bottom: -25px;
}
#searchInput{
    height:47px;
    width:250px;
    border-radius: 30px;
    border:1px solid rgb(95, 95, 95);
    color:gray;
    font-size: 0.8rem;
    background-color: white;
    font-size: 1rem;
    margin-left:40px;
    padding-left: 30px;
}
#searchInput:focus{
    outline: none;
    border:none;
}
#searchIcon{
    background-color: rgb(250, 98, 42);
    height:45px;
    width:45px;
    border-radius: 50%;
    border:1px solid White;
}
#searchIcon:hover{
    background-color: white;
    border:1px solid rgb(250, 98, 42);
}
.fa-magnifying-glass{
    color:white;
    font-size: 1.4rem;
    padding: 12px;
    font-weight: 300px;
}
.fa-magnifying-glass:hover{
    color:rgb(250, 98, 42);
}
.text{
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
#search pre{
    color: rgb(167, 165, 165);
    font-size: 1rem;
    margin-top: -10px;
}

/* Styling All Meal Category Section */

#allCategories{
    background-color: whitesmoke;
    margin-top: -175px;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
}
.type{
    display:block;
}
.type p{
    margin-top:100px;
    margin-left: -50px;
    color:black;
    font-size: 2.3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-left: 2%;
}
.type hr{
    margin-left: -1.7%;
    margin-top: -25px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    height:5px;
    border:none;
    position: relative;
}
.type hr:before{
    content:" ";
    background: rgb(250, 98, 42);
    height:5px;
    width:10%;
    position: absolute;
}
.meals{
    position:relative;
    display:inline-block;
    height:140px;
    width:220px;
    background-color: white;
    margin:15px;
}
#category-thumb{
    height:120px;
    width:200px;
    background-color: white;
    margin:10px;
}
#category-thumb:hover{
    transform: scale(0.8);
}
#category-name{
    position: absolute;
    top:10px;
    right:3%;
    background-color:rgb(250, 98, 42);
    border:none;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.85rem;
    font-weight: 500;
    font-family: monospace;
    margin-right: 5px;
}

/* Styling description section */

.description{
    width:96%;
    border:1px solid red;
    margin:50px 2px;
    background-color: whitesmoke;
    padding:15px 25px;
}
.description h3{
    font-weight: 700px;
    color:rgb(231, 68, 3);
}
.description p{
    color:rgb(68, 67, 67);
}
.title{
    margin-right:90%;
    padding:0px;
    letter-spacing: 10px;
    font-weight: 600;
}
.title hr{
    margin-top: -15px;
    padding-bottom: 20px;
    background-color: white;
    height:5px;
    border:none;
    position: relative;
}
.title hr:before{
    content:" ";
    background: rgb(250, 98, 42);
    height:5px;
    width:75%;
    position: absolute;
}

/* meals section */

#allmeals{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: white;
    margin-top: -175px;
    margin-left: 50px;
    margin-right: 50px;
}
.mealData{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
}
.meal{
    display:inline-block;
    height:240px;
    width:220px;
    background-color:white;
    margin:20px 10px 15px;   
}
#meal-thumb{
    height:200px;
    width:220px;
}
#meal-name{
    font-size: 1rem;
    font-weight: 500;
    color:black;
    margin-top: 2px;
    padding-left: 5px;
}

/* Styling  mealrecipe */

#mealRecipe{
    margin-top: -175px;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 75px;
    background-color: whitesmoke;
    position: relative;
}

/* Styling mealHome */

#mealHome{
    background-color: rgb(250, 98, 42);
    height:50px;
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px 25px 20px 20px;
    column-gap: 15px;
    position: absolute;
    top:80px;
}
#mealHome i{
    font-size: 1.5rem;
    color: white;
}
#mealHome p{
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: -6px;
    font-family: monospace;
}
#mealHome h2{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}

/* Styling detail */

#detail{
    margin-top: 120px;
    margin-bottom: 30px;
}
#detail h1{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
}
#detail hr{
    margin-top: -15px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    height:5px;
    border:none;
    position: relative;
}
#detail hr:before{
    content:" ";
    background: rgb(250, 98, 42);
    height:5px;
    width:6.5%;
    position: absolute;
}

/* Styling mealDetails */

#mealDetails{
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 2px;
    padding-bottom: 40px;
}
.mealImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:650px;
    padding:50px 70px 20px;
}
.mealImage img{
    height:100%;
    width: 50%;
    padding-right: 50px;
}
.mealContent{
    width: 50%;
    margin-top: -40px;
}
.mealContent h1{
    color:rgb(247, 72, 3);
    font-weight: 600;
    font-size: 2rem;
}
.mealContent hr{
    margin-top: -10px;
    border:0.2px solid rgb(247, 105, 48);
    width:100%;
}
.categoryName{
    font-size: 1.3rem;
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sourceName{
    font-size: 1.2rem;
}
.sourceName a{
    text-decoration: none;
    color:black;
}
.sourceName a:hover{
    color:blue;
}
.tags ul{
    display:flex;
    flex-direction: row;
    align-items: start;
    column-gap: 15px;
    margin-top: -40px;
    margin-left: 20px;
}
.tags pre{
    font-size: 1rem;
    color:rgb(247, 105, 48);
    background-color: white;
    border:1px solid rgb(247, 105, 48);
    padding:3px 15px;
    border-radius: 3px;
    font-weight: 500;
}
.ingredients{
    background-color: rgb(236, 64, 2);
    color:white;
    padding:5px 25px 5px 10px;
    margin-top: 15px;
    width:90%;
}
.ingredients p{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
}
.ingredients ul{
    display:grid;
    grid-template-columns: auto auto auto;
}
.ingredients pre{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#number{
    color:white;
    background-color: seagreen;
    font-size: 0.8rem;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    border:1px solid white;
    text-align: center;
    align-content: center;
    padding:2px 7px;

}
.measure{
    padding-left:70px;
}
.measure ul{
    width:92%;
    background-color: whitesmoke;
    border:1px solid rgb(253, 250, 250);
    box-shadow: 0px 0px 3px gray;
    display:grid;
    grid-template-columns: auto auto;
}
.instructions{
    padding: 5px 70px 20px;
}
.instructions h3{
    padding-bottom: -150px;
}
.instructions ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
}
.instructions i{
    margin-right: 15px;
}

/* Media Quiries */

@media (min-width:769px) and (max-width:1024px){
    #home{
        padding-left:30px;
        column-gap: 15px;
    }
    #home h1{
        font-size: 2rem;
    }
    #mealName{
        width:220px;
        margin-top: 570px;
        padding-bottom: 100px;
    }
    .fa-circle-xmark{
        padding-left: 190px;
    }
    #search{
        position: absolute;
        top:230px;
        left:27%;
    }
    .type p{
        margin-top:50px;
        margin-left: -20px;
        font-size: 2.5rem;
        font-family:monospace;
        font-weight: 600;
        letter-spacing: 7px;
    }
    .type hr{
        margin-left: -18px;
        margin-top: -30px;
    }
    .type hr:before{
        width:12%;
    }
    .meals{
        margin:10px;
    }
}